@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav-bar/header__nav-bar.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_no-active/header__link_no-active.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__link/_button/header__link_button.css);

@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/drop-menu/drop-menu.css);
@import url(./blocks/drop-menu/__button/drop-menu__button.css);

@import url(./blocks/hero/hero.css);
@import url(./blocks/hero/__title/hero__title.css);
@import url(./blocks/hero/__description/hero__description.css);

@import url(./blocks/heading/heading.css);
@import url(./blocks/heading/__title/heading__title.css);
@import url(./blocks/heading/__description/heading__description.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__buttons/footer__buttons.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/footer/__button/footer__button.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__title/footer__title.css);
