.tariffs__button {
  background-color: rgba(252, 181, 13, 1);
  padding: 10px 0;
  width: 250px;
  border: none;
  border-radius: 6px;
  align-self: center;
}

.tariffs__button_blue {
  background-color: #0088cc;
}

.tariffs__button:hover {
  cursor: pointer;
}

.tariffs__button:active {
  background-color: rgb(133, 93, 2);
}

.tariffs__button_blue:active {
  background-color: #015a86;
}

@media screen and (max-width: 1020px){
  .tariffs__button {
    width: 100%;
  }
}