.header {
  max-width: 1450px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1260px){
  .header {
    justify-content: space-around;
  }
}