.footer__button {
  background-color: rgba(252, 181, 13, 1);
  padding: 10px 0;
  width: 182px;
  border: none;
  border-radius: 6px;
}

.footer__button_blue {
  background-color: #0088cc;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__button:active {
  background-color: rgb(133, 93, 2);
}

.footer__button_blue:active {
  background-color: #015a86;
}