.header__button {
  padding: 10px 16px;
  background-color: #0088cc;
  border: none;
  border-radius: 6px;
}

.header__button:hover {
  cursor: pointer;
}

.header__button:active {
  background-color: #015a86;
}

@media screen and (max-width: 1260px){
  .header__button  {
    display: none;
  }
}