.drop-menu__button {
  display: none;
  padding: 10px 16px;
  background-color: #0088cc;
  border: none;
  border-radius: 6px;
  margin: 0 auto 0;
}

@media screen and (max-width: 1260px){
  .drop-menu__button {
    display: block;
  }
}