.tariffs__buy-card {
  width: 100%;
  max-width: 960px;
  margin: 20px auto 0;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(252, 181, 13, .5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}