.additions__button {
  background-color: rgba(252, 181, 13, 1);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
}

.additions__button:hover {
  cursor: pointer;
}

.additions__button:active {
  background-color: rgb(133, 93, 2);
}
